.estadoo{
	margin-left: 37%;
	margin-top: 10%;
}

.titulo{
	margin-top: 5%;

}

body#boddy{
	background-image:url(../img/fundo/restaurante.jpg);
	background-position: center center;
	background-attachment: scroll;
	background-size: 100% 100%;
	background-repeat: no-repeat;

}