div#animais{
	display: inline;
}

div#cardsJogos{
	margin-left: 12.5%;
	width: 25%;
	height: 32%;
}
#fundo{
	 background-image: url(../img/carrossel/muffins.jpg);
}
/*
#margem{
	margin-top: -40%;
}

#