div#animais{
	display: inline;
}

div#cardsJogos{
	margin-left: 12.5%;
	width: 25%;
	height: 32%;
}


/*AQUI MUDA A IMAGEM DE FUNDO*/
body{
	background-image:url(../fundo.jpg);
	background-position: center center;
	background-attachment: scroll;
	background-size: 100% 90%;
	background-repeat: no-repeat;
}

/*

#fundoo{

	background-image:url(../img/carrossel/muffins.jpg);
	width: 60%;

}


#margem{
	margin-top: -40%;
}

#
*/
